<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zemcho.guzhe.mapper.cas.CasRoleMapper">
    <sql id="field">
        name,
        status,
        remark,
        create_time
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `cas_role`(
        <include refid="field"></include>
        )VALUES (
        #{data.name},
        #{data.status},
        #{data.remark},
        #{data.createTime}
        )
    </insert>

    <update id="update">
        UPDATE `cas_role`
        SET
        <trim suffixOverrides=",">
            <if test="data.name != null and data.name != ''">name = #{data.name},</if>
            <if test="data.status != null">status = #{data.status},</if>
            <if test="data.remark != null">remark = #{data.remark},</if>
        </trim>
        WHERE id = #{data.id}
        AND delete_time is null
    </update>

    <select id="existName" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM `cas_role`
        WHERE name = #{name}
          AND delete_time is null
        <if test="id != null">AND id != #{id}</if>
    </select>

    <select id="selectLists" resultType="com.zemcho.guzhe.entity.cas.CasRole">
        SELECT *
        FROM `cas_role`
        WHERE delete_time is null
        <if test="param.searchIds != null and param.searchIds.size() > 0">
            AND `id` IN
            <foreach collection="param.searchIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.keyword != null and param.keyword != ''">AND name LIKE CONCAT('%',#{param.keyword},'%')</if>
        <if test="param.searchIntStatus != null">AND status = #{param.searchIntStatus}</if>
        ORDER BY id DESC
    </select>

    <select id="selectById" resultType="com.zemcho.guzhe.entity.cas.CasRole">
        SELECT *
        FROM `cas_role`
        WHERE id = #{id}
          AND delete_time is null
    </select>

    <delete id="deleteByIds">
        UPDATE `cas_role`
        SET delete_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectCommonLists" resultType="com.zemcho.guzhe.controller.common.vo.RoleCommonVO">
        SELECT *
        FROM `cas_role`
        WHERE delete_time is null
        <if test="param.searchIds != null and param.searchIds.size() > 0">
            AND `id` IN
            <foreach collection="param.searchIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="param.keyword != null and param.keyword != ''">AND name LIKE CONCAT('%',#{param.keyword},'%')</if>
        <if test="param.searchIntStatus != null">AND status = #{param.searchIntStatus}</if>
        order by id desc
    </select>
</mapper>