// 

html,
body,
#root {
  height: 100%;
}

.ant-modal-title {
  margin-bottom: 20px !important;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 !important;
}

ul,
ol {
  list-style: none;
}

// @media (max-width: @screen-xs) {
//   .ant-table {
//     width: 100%;
//     overflow-x: auto;

//     &-thead > tr,
//     &-tbody > tr {
//       > th,
//       > td {
//         white-space: pre;

//         > span {
//           display: block;
//         }
//       }
//     }
//   }
// }

.ant-pro-top-nav-header-logo h1 {
  margin-right: 12px;
}

.ant-pro-global-header-logo h1 {
  margin-left: 12px;
}

.mL15 {
  margin-left: 15px;
}

.red {
  color: crimson;
  cursor: pointer;
}

.luSe {
  color: #5cd668;
  cursor: pointer;
}

.huangse {
  color: rgba(245, 154, 35, 0.996078431372549);
  cursor: pointer;
}

.bxHuang {
  color: rgba(245, 154, 35, 0.996078431372549);
  border: 1px solid rgba(245, 154, 35, 0.996078431372549);
}

.bxluSe {
  color: rgba(3, 191, 22, 0.996078431372549);
  border: 1px solid rgba(3, 191, 22, 0.996078431372549);
}

.bxlanSes {
  color: #1890ff;
  border: 1px solid #1890ff;
}

.bxlanSes:hover {
  color: #fff;
  background-color: #1890ff;
}

.bxlanSe {
  color: #1890ff;
  border: 1px solid #1890ff;
}

.clickFont {
  color: #1890ff;
  cursor: pointer;
}

.zxc {
  position: absolute;
  left: 70px;
  z-index: 99;
  width: 30px;
  height: 35px;
  margin-top: 40px;
  cursor: pointer;
}

.ant-table-body {
  overflow-y: auto !important;
}

.zxcs {
  position: absolute;
  left: 572px;
  z-index: 99;
  width: 30px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
  // background-color: crimson;
}


.zxca {
  position: absolute;
  left: 575px;
  z-index: 99;
  width: 30px;
  height: 35px;
  margin-top: 10px;
  cursor: pointer;
}

.ant-tabs-tab {
  display: flow-root;
  // width: 70px;
  text-align: center;
}

.ant-upload.ant-upload-select-picture-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

img {
  max-width: 100%;
}

.anticon-spin {
  position: relative;
  z-index: 99;
}

.zxcv {
  .asd {
    .ant-pro-page-container-children-content {
      margin: 0px !important;
    }

    .ant-tabs-top>.ant-tabs-nav,
    .ant-tabs-bottom>.ant-tabs-nav,
    .ant-tabs-top>div>.ant-tabs-nav,
    .ant-tabs-bottom>div>.ant-tabs-nav {
      margin: 0 24px 0 24px !important;
    }
  }
}



.qqq {
  .www {
    .ant-page-header.has-breadcrumb {
      padding-top: 0;
    }

    .ant-page-header {
      padding: 0;
    }
  }
}


.yyy {

  .ant-tabs>.ant-tabs-nav,
  .ant-tabs>div>.ant-tabs-nav {
    margin-top: 0px !important;
    width: 180px;
    padding: 15px 0;
  }
}



.ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
  margin-top: -35px !important;
}

.ant-dropdown-menu {
  padding: 0 !important;
  box-shadow: 0px !important;
}

.xxxxs {
  .ant-list-item {
    padding: 12px;
  }

  .ant-list-item:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }
}

// .ant-menu-item {
//   height: 0px ;
//   line-height: 0px ;
// }

// .ant-pro-menu-item {
//   display: block;
//   height: 40px !important;
//   line-height: 40px !important;
// }

// .ant-pro-menu-item-title {
//   position: absolute;
//   top: 0;
//   height: 40px;
//   line-height: 40px;
// }
.ant-dropdown-menu-blur {
  position: fixed !important;
  background-color: #fff !important;
  width: 350px;
  margin-top: 20px;
  box-shadow: 0px 2px 8px #ccc // top: 80px;
}

.ant-input {
  border-radius: 4px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

.ant-picker {
  border-radius: 3px !important;
}

.ant-btn {
  border-radius: 4px;
}

.ant-alert {
  border-radius: 4px;
}

// 
// 
// 上传图片剪裁样式
.ant-slider {
  box-sizing: border-box;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  height: 12px;
  margin: 10px 6px;
  padding: 4px 0;
  cursor: pointer;
  touch-action: none;
}

.ant-slider-rail {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f5f5f5;
  border-radius: 2px;
  transition: background-color .3s;
}

.ant-slider-track {
  position: absolute;
  height: 4px;
  background-color: #91d5ff;
  border-radius: 2px;
  transition: background-color .3s;
}

.ant-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: 0 0;
  pointer-events: none;
}

.ant-slider-handle {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: -5px;
  background-color: #fff;
  border: solid 2px #91d5ff;
  border-radius: 50%;
  box-shadow: 0;
  cursor: pointer;
  transition: border-color .3s, box-shadow .6s, transform .3s cubic-bezier(.18, .89, .32, 1.28);
}

// 
// 
// 上传图片剪裁样式



.wer {
  .ant-pro-page-container-children-content {
    padding: 24px 0;
  }

  .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    background-color: #fff;
    padding: 0 15px;
  }

  .ant-pro-page-container-children-content {
    margin: 0;
  }

  .ant-tabs-content-holder {
    padding: 0 24px;
    padding-top: 10px;
  }

  .ant-tabs-tab {
    width: 120px;
    margin-top: 10px;
  }

  .ant-tabs-tab+.ant-tabs-tab {
    margin: 0;
    margin-top: 10px;
  }

  .ant-tabs-tab {
    display: inline !important;
  }

}

.darkBlue-btn {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #1890FF;
  border-radius: 4px;
  color: #1890FF;
}



.uu {
  background-color: #108ee9;
  color: #fff;
  padding: 1px 5px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer
}

.uuu {

  padding: 1px 5px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer
}


.xxc {
  .ant-upload-list-item {
    position: absolute !important;
    opacity: 0 !important;
  }
}


.detaileds {
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}

.ant-progress-success-bg,
.ant-progress-bg {
  height: 10px !important;
  border-radius: 0 !important;
}

.ant-progress-inner {
  border-radius: 0 !important;
}

.yy {
  height: 20px;
  width: 2px;
  background-color: #1890ff;
  position: absolute;
  left: 70%;
  bottom: 19px;
  z-index: 1;
}

.norBorder {
  .ant-select-selector {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
}

.nolBorder {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

}

.shopTbas {
  & .ant-tabs-nav {
    width: 160px !important;
  }
}

.pp .ant-tabs-nav-list {
  width: 100px;
  margin-top: 30px;
}

.csdivcenter {
  .ant-table-cell {
    text-align: center !important;
  }
}
