<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zemcho.guzhe.mapper.shop.ShopAuditIndustryMapper">

    <insert id="insertBatch">
        INSERT INTO `shop_audit_industry` (`industry_category_id`, `shop_audit_id`)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.industryCategoryId}, #{item.shopAuditId})
        </foreach>
    </insert>

    <select id="selectByShopAuditId" resultType="com.zemcho.guzhe.entity.shop.ShopAuditIndustry">
        SELECT *
        FROM `shop_audit_industry`
        WHERE `shop_audit_id` = #{shopAuditId}
    </select>

    <delete id="deleteByShopAuditId">
        DELETE FROM `shop_audit_industry`
        WHERE `shop_audit_id` = #{shopAuditId}
    </delete>

</mapper>
